logging:
    level:
        com.yn: DEBUG
spring:
    Chinese: cn1
    English: en1
    mail:
      #邮箱账号
      username: chexpoasean@chexpoasean.com
      #邮箱密码
      password: 1234qweR
      #端口号
      port: 465
      #时间延迟
      timeout: 25000
      #发送人
      from: chexpoasean@chexpoasean.com
      #服务器
      host: smtp.mxhichina.com
      protocol: smtp
      encoding: UTF-8
    application:
        name: yn-exhibition
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
        default-property-inclusion: non_null
    datasource:
        name: test
        url: jdbc:mysql://${MYSQL_HOST:47.94.174.103}:${MYSQL_PORT:3306}/yn_web?useUnicode=true&characterEncoding=UTF8
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    thymeleaf:
      prefix: classpath:/templates/
      suffix: .html
mybatis:
    basepackage: com.yn.module.mapper
    xmlLocation: classpath:mapper/**/*.xml
    mapper-locations: "classpath*:mapper/*.xml"

server:
    port: 8800
# 配置swagger
#swagger:
#    enabled: true
#    base-package: com.yn.module
#    title: yn-exhibition
#    version: 1.0.0.SNAPSHOT
#    description: 印尼会展服务
#    contact:
#        name: yn-exhibition

