<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.module.mapper.AboutEventMapper">
    <!-- AboutEvent的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
    <resultMap id="result_AboutEvent_Map" type="com.yn.module.entity.AboutEvent">
        <id column="id" property="id"/>
        <result column="titel" property="titel"/>
        <result column="two_titel" property="twoTitel"/>
        <result column="imge" property="imge"/>
        <result column="event_date" property="eventDate"/>
        <result column="location" property="location"/>
        <result column="featured_range" property="featuredRange"/>
        <result column="exhibition_scope" property="exhibitionScope"/>
        <result column="visitor_profile" property="visitorProfile"/>
        <result column="product_categories" property="productCategories"/>
        <result column="featured_pavilions" property="featuredPavilions"/>
        <result column="exhibition_features" property="exhibitionFeatures"/>
        <result column="organizer" property="organizer"/>
        <result column="lan" property="lan"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 数据库中表名为:about_event的列名 -->
    <sql id="about_event_Column">
		id,titel,two_titel,imge,event_date,location,featured_range,exhibition_scope,visitor_profile,product_categories,featured_pavilions,exhibition_features,organizer,lan,del_flag
	</sql>

    <!-- 获得一个AboutEvent对象,以参数AboutEvent对象中不为空的属性作为条件进行查询 -->
    <select id="selectAboutEvent" parameterType="com.yn.module.entity.AboutEvent"
            resultMap="result_AboutEvent_Map">
        select
        <include refid="about_event_Column"/>
        from about_event
        <where>
            del_flag = 0
            <if test="titel != null">and titel = #{titel}</if>
            <if test="twoTitel != null">and two_titel = #{twoTitel}</if>
            <if test="imge != null">and imge = #{imge}</if>
            <if test="eventDate != null">and event_date = #{eventDate}</if>
            <if test="location != null">and location = #{location}</if>
            <if test="featuredRange != null">and featured_range = #{featuredRange}</if>
            <if test="exhibitionScope != null">and exhibition_scope = #{exhibitionScope}</if>
            <if test="visitorProfile != null">and visitor_profile = #{visitorProfile}</if>
            <if test="productCategories != null">and product_categories = #{productCategories}</if>
            <if test="featuredPavilions != null">and featured_pavilions = #{featuredPavilions}</if>
            <if test="exhibitionFeatures != null">and exhibition_features = #{exhibitionFeatures}</if>
            <if test="organizer != null">and organizer = #{organizer}</if>
            <if test="lan != null">and lan = #{lan}</if>
            <if test="id != null">and id = #{id}</if>
        </where>
        LIMIT 1
    </select>

</mapper>