<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.module.mapper.HomeShowMapper">
    <!-- HomeShow的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
    <resultMap id="result_HomeShow_Map" type="com.yn.module.entity.HomeShow">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="image" property="image"/>
        <result column="lan" property="lan"/>
        <result column="sort" property="sort"/>
        <result column="use_type" property="useType"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 数据库中表名为:home_show的列名 -->
    <sql id="home_show_Column">
		id,category_id,title,content,image,lan,sort,use_type,create_date,update_date,del_flag
	</sql>

    <!-- 获得一个HomeShow对象,以参数HomeShow对象中不为空的属性作为条件进行查询 -->
    <select id="selectHomeShowList" parameterType="com.yn.module.entity.HomeShow" resultMap="result_HomeShow_Map">
        select
        <include refid="home_show_Column"/>
        from home_show
        <where>
            del_flag = 0
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="image != null">and image = #{image}</if>
            <if test="lan != null">and lan = #{lan}</if>
            <if test="sort != null">and sort = #{sort}</if>
            <if test="useType != null">and use_type = #{useType}</if>
            <if test="createDate != null">and create_date = #{createDate}</if>
            <if test="updateDate != null">and update_date = #{updateDate}</if>
            <if test="id != null">and id = #{id}</if>
        </where>
        ORDER BY sort ASC
    </select>

    <!-- 获得一个HomeShow对象,以参数HomeShow对象中不为空的属性作为条件进行查询 -->
    <select id="selectHomeShowCount" parameterType="com.yn.module.entity.HomeShow" resultType="Integer">
        select COUNT(1)
        from home_show
        <where>
            del_flag = 0
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="image != null">and image = #{image}</if>
            <if test="lan != null">and lan = #{lan}</if>
            <if test="sort != null">and sort = #{sort}</if>
            <if test="useType != null">and use_type = #{useType}</if>
            <if test="createDate != null">and create_date = #{createDate}</if>
            <if test="updateDate != null">and update_date = #{updateDate}</if>
            <if test="id != null">and id = #{id}</if>
        </where>
    </select>

</mapper>